@{
    if(ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout=(string)parentLayout;
    }
    else
    {
        Layout="/Areas/Identity/Pages/_Layout.cshtml";
    }
}
@*<a href="~/lib/bootstrap/dist/css/bootstrap.css.map"></a>
<a href="~/lib/bootstrap/dist/css/bootstrap.min.css.map"></a>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@
<link href="~/mdbootstrap/css/mdb.min.css" rel="stylesheet" />
@*<a href="~/lib/bootstrap/dist/js/bootstrap.bundle.js.map"></a>
<a href="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map"></a>
<a href="~/lib/bootstrap/dist/js/bootstrap.js.map"></a>
<a href="~/lib/bootstrap/dist/js/bootstrap.min.js.map"></a>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@


<div>
    <div class="row">
        <div class="col-12">
            @*<partial name="_ManageNav" />*@
        </div>
        <div class="col-12">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
    <script src="~/mdbootstrap/js/mdb.min.js"></script>
}
