@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <div class="page-title">
                <h4 class="mb-0 font-size-18">Change Password</h4>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home Page</a></li>
                    <li class="breadcrumb-item">Profile</li>
                    <li class="breadcrumb-item active">Change Password</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="page-content-wrapper">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!-- Demo purpose only -->
                    <div style="min-height: 100px;">
                        <partial name="_ManageNav" />
                        <partial name="_StatusMessage" for="StatusMessage" />
                        <form id="change-password-form" method="post" class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-4">
                                <div class="form-outline mb-4">
                                    <input asp-for="Input.OldPassword" type="password" id="form1Example9" class="form-control" autocomplete="current-password" aria-required="true" />
                                    <label class="form-label" for="form1Example9">Current Password</label>
                                </div>
                                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                            </div>
                            <div class="col-4">
                                <div class="form-outline mb-4">
                                    <input asp-for="Input.NewPassword" type="password" id="form1Example9" class="form-control" autocomplete="new-password" aria-required="true" />
                                    <label class="form-label" for="form1Example9">New Password</label>
                                </div>
                                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                            </div>
                            <div class="col-4">
                                <div class="form-outline mb-4">
                                    <input asp-for="Input.ConfirmPassword" type="password" id="form1Example9" class="form-control" autocomplete="new-password" aria-required="true" />
                                    <label class="form-label" for="form1Example9">Confirm Password</label>
                                </div>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="w-100 btn btn-primary">Update password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end page content-->


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
