@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>@ViewData["Title"] - RMD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/images/logo_small2.png">

    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <!-- MDB Css-->
    <link href="~/MDB/css/mdb.min.css" rel="stylesheet" type="text/css" />

</head>

<body data-topbar="colored">
    <!-- <body data-layout="horizontal" data-topbar="colored"> -->
    <!-- Background -->
    <div class="account-pages"></div>
    <!-- Begin page -->
    <div class="wrapper-page">

        <div class="card">
            <div class="card-body">

                <div class="auth-logo">
                    <h3 class="text-center">
                        <a asp-page="/Account/Login" class="logo d-block my-4">
                            @*<img src="~/assets/images/logo-dark.png" class="logo-dark mx-auto" height="30" alt="logo-dark">*@
                            <span class="logo-dark mx-auto">RMD</span>
                            @*<img src="~/assets/images/logo-light.png" class="logo-light mx-auto" height="30" alt="logo-light">*@
                            <span class="logo-light mx-auto">RMD</span>
                        </a>
                    </h3>
                </div>

                <div class="p-3">
                    <p class="text-muted text-center">Sign in to continue to RMD.</p>

                    <form class="form-horizontal" method="post">

                        <div asp-validation-summary="All" class="alert-danger" id="myAlert"></div>
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input asp-for="Input.Email" type="email" id="form2Example1" class="form-control" required />
                            <label asp-for="Input.Email" class="form-label" for="form2Example1">Email address</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input asp-for="Input.Password" type="password" id="form2Example2" class="form-control" required />
                            <label asp-for="Input.Password" class="form-label" for="form2Example2">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>

                        </div>

                        <div class="mb-3 row">
                            <div class="col-6">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="customControlInline">
                                    <label class="form-check-label" for="customControlInline">
                                        Remember
                                        me
                                    </label>
                                </div>
                            </div>
                            <div class="col-6 text-end">
                                <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Log In</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <div class="text-center">
            <p class="text-muted">
                ©
                <script>document.write(new Date().getFullYear())</script> DAB. Crafted by Software Development Team
            </p>
        </div>

    </div>


    <!-- JAVASCRIPT -->
    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
    <!-- MDB js -->
    <script src="~/MDB/js/mdb.min.js"></script>

</body>

</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}